form input[type="text"]:valid:not(:placeholder-shown),
form input[type="email"]:valid:not(:placeholder-shown),
form input[type="password"]:valid:not(:placeholder-shown) {
  background: url("../assets/icons/check-mark.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


.q-form__input {
  padding-left: 35px;
}

.request-feedback {
  width: 100%;
  background-color: #f44;
  padding: 0 10px;
  color: #fff;
  font-weight: 600;
}